@import "tailwindcss";

:root {
  --font-heading: "Space Grotesk";
  --font-body: "Manrope";
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-body), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
